# PDF to CSV 

This file changes a pdf cotnaining valuble school atendence data obtainted by a FOIA to machine readable csv for further anlysis

In [2]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 12.4 MB/s eta 0:00:01
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /Users/evanfrank/opt/anaconda3/lib/python3.7/site-packages (from tabula-py) (1.2.3)
Requirement already satisfied: numpy in /Users/evanfrank/opt/anaconda3/lib/python3.7/site-packages (from tabula-py) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/evanfrank/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/evanfrank/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/evanfrank/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [81]:
#import packages for data parsing
import tabula
import pandas as pd

In [82]:
#read the pdf, this creates a DataFrame for each page and musst be corrected
df=tabula.read_pdf('School_Data.pdf', encoding='utf-8', pages='2-1149')

In [83]:
#create an empty list to sotre the created DataFrames 
df_list=[]

#itterate over the length of df
for x in range(len(df)):
    #pull the correct df to work with
    df_sub=df[x]
    #the column names of must of the sub DataFrames are an entry and need to be retained
    retain=list(df_sub.columns)
    #standardize column names 
    df_sub.columns=['Week', 'School', 'Grade', 'Absences']
    #make sure a heading it not placed in the enties
    if retain[3] != 'Absences':
        #prep the misplaced enrtry for appending
        a_series = pd.Series(retain, index = df_sub.columns)
        #appended the misplaced entry 
        df_sub = df_sub.append(a_series, ignore_index=True)
    #store the DataFrame in a list 
    df_list.append(df_sub)

In [84]:
#concatinate all interated DataFrames to one DataFrame
df_full=pd.concat(df_list)
#display the head of the DataFrame
df_full.head(5)

                 Week                         School Grade Absences
0  Week of 01/04/2010  Albert F Monroe Middle School     6       24
1  Week of 01/04/2010  Albert F Monroe Middle School     7       21
2  Week of 01/04/2010  Albert F Monroe Middle School     8       30
3  Week of 01/04/2010  Bennett-Kew Elementary School     K       18
4  Week of 01/04/2010  Bennett-Kew Elementary School     1       20

In [85]:
#Save the DataFrame to csv
df_full.to_csv('school_data.csv')